img {
    max-width: 40%;
    height: auto;      
}
li {
    list-style: none;
}
.js-cat {
    display: flex;
    gap: 20px;
}
.cat-info {
    margin-top: 30px;
}
.js-cat span {
    font-weight: 900;
}
.loader{
    margin-top: 20px;
    font-size: 30px;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading data, please wait...';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}